.box{
    width: 350px;
    height: 750px;
    background-color: #808080;
    text-indent: 10px;
    font-size: 15px;
    color: white;
    initial-letter-align: text-after-edge;
    font-weight: normal;
    padding: 5px;
}

div {
    width: 150px;
    height: 150px;
    background-color: #fea500;
    margin-block-start: 10px;
    margin-inline-start: 17px;
}